{% extends 'base.html' %}

{% block title %}Change Password &#8226; Instagram {% endblock %}


{% block content %}
<div class="flex flex-wrap justify-center mt-5 pt-4 bg-gray-900 text-white min-h-screen dir-rtl">
    <div class='hidden md:block w-3/12 p-0'>
        <ul class='list-none p-0'>
            <a href="{% url 'accounts:edit_profile' %}" class="text-white no-underline"><li class='py-3 pl-4'>Edit Profile</li></a>
            <a href="" class="text-white no-underline"><li class='py-3 pl-4 border-r-2 border-white font-semibold'>Change Password</li></a>
        </ul>
    </div>
        <div class="w-full md:w-9/12 p-0 md:p-5">
        <div class="w-full pr-5 p-0 text-gray-800">
            <form method="POST" class="pl-5 ml-5" enctype="multipart/form-data">
                {% csrf_token %} 
                    <div class='mb-4 flex flex-col'>
						<label class="font-bold text-white">old password</label>
						{{ form.old_password }}
					</div>
					<div class='mb-4 flex flex-col'>
						<label class="font-bold text-white">new password</label>
						{{ form.new_password1 }}
					</div>
					<div class='mb-4 flex flex-col'>
						<label class="font-bold text-white">confirme new password</label>
						{{ form.new_password2 }}
					</div>
                    <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700">Change Password</button>

                    <a class="text-white" href="" title="forgot" >Forgot Password?</a>                
            </form>
        </div>
    </div>
</div>

{% endblock %}
