{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}



{% block content %}

<div class="bg-gray-700 p-8 rounded shadow-md w-full max-w-sm mx-auto mt-8 mb-8">
	<div class="text-red-500 mt-2">
        {{ form.errors }}
    </div>
    <h1 class="text-2xl font-bold mb-4 text-white">{% trans 'Login' %}</h1>
    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <div class="mb-4">
            <label for="username" class="block text-white font-bold mb-2">{% trans 'Login' %}</label>
            <input type="text" id="username" name="username" class="border rounded w-full py-2 px-3" placeholder="{% trans 'Login' %}">
        </div>
        <div class="mb-6">
            <label for="password" class="block text-white font-bold mb-2">{% trans 'Password' %}</label>
            <input type="password" id="password" name="password" class="border rounded w-full py-2 px-3" placeholder="{% trans 'Login' %}">
        </div>
		<input type="hidden" name="next" value="{{ request.GET.next }}">
        <button class="bg-blue-300 hover:bg-blue-100 text-white font-bold py-2 px-4 rounded w-full mb-4">{% trans 'Login' %}</button>
        <div class="text-center">
            <a href="#" class="text-blue-500 hover:underline">{% trans 'forget password' %}</a>
        </div>
        <div class="text-center mt-4 text-white">
            <span>{% trans 'Dont have an account' %}</span> <a href="{% url 'accounts:signup'%}" class="text-blue-500 hover:underline">{% trans 'Register' %}</a>
        </div>
    </form>
</div>


{% endblock %}
 