{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="bg-white p-8 rounded shadow-md w-full max-w-sm mx-auto mt-8 mb-8">
    <h1 class="text-2xl font-bold mb-4">ثبت نام</h1>
    <form method="post" action="{% url 'accounts:signup' %}">
        {% csrf_token %}
        <div class="mb-4">
            <label for="name" class="block text-gray-700 font-bold mb-2">نام</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
              <div class="text-red-500 mt-2">
                  {{ form.first_name.errors }}
              </div>
            {% endif %}
        </div> 
        <div class="mb-4">
            <label for="username" class="block text-gray-700 font-bold mb-2">نام کاربری</label>
            {{ form.username }}
            {% if form.name.errors %}
              <div class="text-red-500 mt-2">
                  {{ form.username.errors }}
              </div>
            {% endif %}
        </div>
        <div class="mb-4">
            <label for="email" class="block text-gray-700 font-bold mb-2">ایمیل</label>
            {{ form.email }}
            {% if form.email.errors %}
              <div class="text-red-500 mt-2">
                  {{ form.email.errors }}
              </div>
            {% endif %}
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700 font-bold mb-2">رمز عبور</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
              <div class="text-red-500 mt-2">
                  {{ form.password1.errors }}
              </div>
            {% endif %}
        </div>
        <div class="mb-6">
            <label for="confirm_password" class="block text-gray-700 font-bold mb-2">تکرار رمز عبور</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
              <div class="text-red-500 mt-2">
                  {{ form.password2.errors }}
              </div>
            {% endif %}
        </div>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full mb-4">ثبت نام</button>
    </form>
  
  <div class="text-center mt-4">
    <span> حساب کاربری دارید؟</span> <a href="{% url 'accounts:login' %}" class="text-blue-500 hover:underline">ورود</a>
  </div>
</div>
{% endblock %}