{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom HTML5 Video Player</title>
    <link rel="stylesheet" href="{% static 'video-player/style.css' %}">
</head>
<body>
  <h1>Video Player</h1>
  <div class="video-wrapper">
    <div class="video-container" id="video-container">
      <video controls id="video" preload="metadata" poster="//cdn.jsdelivr.net/npm/big-buck-bunny-1080p@0.0.6/poster.jpg">
        <source src="{{ video.video.url }}" type="video/mp4">
      </video>


      <div class="play-button-wrapper">
        <div title="Play video" class="play-gif" id="circle-play-b">
          <!-- SVG Play Button -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path d="M40 0a40 40 0 1040 40A40 40 0 0040 0zM26 61.56V18.44L64 40z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'video-player/player.js' %}"></script>
</body>
</html>
